.courses-header-container{
  display: flex;
  gap: 24px;
  flex-direction: column;
}
.course-header {
  color: #0e0e0e;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  margin: 0;
  line-height: 130%; /* 72.8px */
}
.tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.active {
  border-radius: 64px;
  background: var(--Prim);
  display: flex;
  padding: 8px 16px;
  color: var(--White);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.tag {
  display: flex;
  cursor: pointer;
  padding: 8px 16px;
  border-radius: 64px;
  border: 1px solid var(--Gray-3);
  color: var(--Gray-1);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
@media screen and (max-width:600px) {
  .course-header{
    font-size: 32px;
  }
  
}