@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
:root {
  --Almost-black: #0e0e0e;
  --Gray-3: #ddd;
  --Prim: #5551ff;
  --Gray-1: #333;
  --White: #fff;
  --Gray-4: #f4f4f4;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body{
  padding: 0px 15px;
}
.courses-container {
  max-width: 1290px;
  width: 100%;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
